body { width: 1020px; font-family:helvetica, arial; font-size:13px; line-height:16px; }
#logo { display:none; z-index:100; position:absolute; top:15px; left:15px; }
#year { position:fixed; left:885px; top:25px; z-index:9999; font-size:55px; font-weight:400; color:rgb(203,204,200); }
.controls { z-index:101; position:absolute; }
#container {  }

#splash { width:100%; height:100%; background:rgb(67,66,63); position:absolute; z-index:99999; color:rgb(203,204,200); }
#splash .content {  width:500px; margin:0 auto; padding-left:90px; padding-top:40px; }
#splash img.splash-logo { margin-left:55px; }
#splash img { display:block; }
#splash .text { margin-top:20px; font-size: 15px; }
#splash p { margin-bottom:10px; }

circle { stroke:#DDD; stroke-width: 0.2px; fill-opacity:1; }

#tabs { position:absolute; top:0px; left:0px; z-index:3;  }
#tabs div { width:36px; height:156px; cursor:pointer; }
#tabs .map { background: url(images/worldmap-tab-off.png); }
#tabs .genres { background: url(images/genre-tab-on.png); }

.gogogo { margin-left:-17px; }
.gogogo:hover { cursor:pointer;  }

#bubbles { 
	background:rgb(128,130,133); width:984px; height:494px; position:absolute; left:36px; top:0px; 
	-webkit-transition:all 200ms ease-in-out;
	z-index:2;
}

#help { position:absolute; left:990px; top:540px; }

#chart { 
	display:block; 
	background:url(images/map-bubble.png);
	background-color:rgb(141,142,139);
	background-repeat:no-repeat;
	background-position:0 -50px;
	margin-left:36px;
}
#buttons {
	display:inline-block;
	position:relative;
	top:-15px	;
}

#buttons li {
	vertical-align:top;
	display:inline-block;
	margin-right:10px;
	width:60px;
}
#buttons li:hover {
	cursor:pointer;
}
#buttons .label {
	text-align:center;
	position:relative;
	left:-1px;
	top:-4px;
	font-size:11px;
	text-transform:uppercase;
}

#chart svg {
	/*position:relative;
	left:100px;*/
}

	.bubble-label { font-size:10px; color:blue; }
	.count { display:none; }
	g.bubble:hover { cursor:pointer; }
#forced-graph { 
	display:block; position: absolute; top:0px; left:0px; 
	/*background:rgb(128,130,133);*/
	-webkit-transition:all 200ms ease-in-out;
}

	#bubbles.hide {
		left:-1020px;
	}
	.forced-label { color:purple; }
	g.node { z-index:9999; }
	image { z-index:9999; }
	g.node:hover { cursor:pointer; }

#play { width:50px; position:absolute; z-index:9999; top:440px; left:960px;  }

#search { display:inline-block; margin-left:20px; color:white; padding:12px; border-radius:3px; border:0px solid #DDD; font-size:15px; background:#444; z-index:3; }
input[placeholder], [placeholder], *[placeholder] {
	font-family:helvetica, arial;
}

#list {
	width:235px;
	z-index:9999;
	position:absolute;
	left:770px;
	top:70px;
	text-align:right;	
	font-weight:700;
	text-shadow: 1px 1px 2px #333;
}

#list li {
	list-style:none;
	font-size:20px;
	text-transform:uppercase;
	margin-bottom:10px;
}
	#list li:nth-child(1) {
		color:rgb(31,119,180);
	}
	#list li:nth-child(2) {		
		color:rgb(243,111,33);
	}
	#list li:nth-child(3) {
		color:rgb(44,160,44);
	}
	
#list li img {
	margin-right:6px;
	cursor:pointer;
}	

#slider {
	
}

.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 20px;
	height: 27px;
	cursor: pointer;
	margin-top:-17px;
	}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { 
	background: url(images/slider-24.png) no-repeat scroll;
	border:none;
}
#slider.ui-widget-content {
	border: none;	
	background: url(images/timeline2.png) top repeat-x;
	background-position:-7px 0;
	height:39px;
	color: #333;
}
ul.ui-autocomplete {
 font-size:12px;
 font-family:helvetica,arial;
}
ul.ui-autocomplete .ui-state-hover, ul.ui-autocomplete .ui-state-focus {
	background:rgb(255,242,0);
	border-color:rgb(255,242,0);
	color:#222;
	
}

.link { stroke: #CCC; }

.pop-up { position:absolute; z-index:1; opacity:0; color:white; background:rgba(0,0,0,0.7); padding:5px; border-radius:3px; }
	.pop-up ul li { list-style:none; font-size:11px;}
	.pop-up .loc-header { color:pink; }
	.pop-up .genre-count { color:orange; margin-left:5px; font-weight:bold; }
	.fade { -webkit-transition: opacity 500ms ease-in-out; }
	.fade.in { opacity:1; }
	
#box {
	width:172px;
	height:157px;
	position:absolute;
	top:320px;
	background: url(images/turntable0.png) no-repeat;
}	
#box.one-record {
	background:url(images/turntable1.png); 
}
#box.two-record {
	background:url(images/turntable2.png); 
}
#box.three-record {
	background:url(images/turntable3.png); 
}

#box.caught { 
	background:url(images/turntable-hover.png); 
}
	
.record-box {
	width:250px;
}
.record-box img {
	width:250px;
	height:250px;
}	
.record-box:hover {
-webkit-animation: spin 0.7s infinite linear;
}
.spinning {
	-webkit-animation: spin 0.7s infinite linear;	
}
@-webkit-keyframes spin {
0% { -webkit-transform: rotate(0deg);}
100% { -webkit-transform: rotate(360deg);}
}